
.content-box {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main-section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5%;
    text-align: left;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha o conteúdo ao topo do contêiner */
    align-items: flex-start; /* Garante que todo o conteúdo seja alinhado à esquerda */
    overflow-x: hidden;
}

.greeting {
    font-size: 2rem; 
    margin-bottom: 1rem; 
    color: #fff;
    font-weight: 400; 
    overflow-x: hidden;
}

h2 {
    font-size: 3.5rem; 
    font-weight: 700; 
    line-height: 1.2; 
    color: #fff;
    margin: 0; 
    font-family: 'Blinker', sans-serif; 
    overflow-x: hidden;
}

.p1, .p2 {
    display: block; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer; 
    animation: pulse 2s infinite; 
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* Ajusta o tamanho e estilo da seta SVG */
.scroll-down-indicator .arrow {
    width: 48px; /* Define o tamanho do SVG */
    height: 48px;
    fill: none; /* Certifica-se de que o SVG não tenha preenchimento */
    stroke: white; /* Mantém a cor branca */
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Animação de pulsar */
@keyframes pulse {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px); /* Aumenta a distância do movimento */
        opacity: 0.7;
    }
}

/* Ajustes responsivos para telas menores */
@media (max-width: 1024px) {
    h2 {
        font-size: 3rem; /* Ajuste para telas menores */
    }

    .greeting {
        font-size: 1.2rem; /* Ajuste para telas menores */
    }

    .main-section {
        padding-left: 8%; /* Mantém o alinhamento à esquerda */
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem; /* Ajuste para telas menores */
    }

    .greeting {
        font-size: 1rem; /* Ajuste para telas menores */
    }

    .main-section {
        padding-left: 10%; /* Mantém o alinhamento à esquerda */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2rem; /* Ajuste para telas menores */
    }

    .greeting {
        font-size: 0.9rem; /* Ajuste para telas muito pequenas */
    }

    .main-section {
        padding-left: 5vw; /* Usa a largura da viewport para manter o alinhamento */
    }
}
